html, body, #app {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.data-panel {
  position: absolute;
  top: 50px;
  left: 10px;
  z-index: 1;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; 
  font-family: Roboto, Arial, sans-serif;
  padding: 8px;
  border-radius: 2px;
  /*font-weight: 500;*/
}

.gm-style-iw {
  /**/
}

/* hide close button on infowindows */
.gm-style-iw+div {
  display: none;
}

.bikesAvailable, .docksAvailable {
  display: inline-block;
  text-align: center;
}

.bikesAvailable > div, .docksAvailable > div {
  font-size: 2em;
}

.infowindow > :first-child {
  margin-right: 1em;
}